<div class="footer">
    <a class="footer-odin" href="https://www.theodinproject.com/lessons/node-path-nodejs-members-only">
        <img class="icon" src="/images/the-odin-project.svg" alt="The Odin Project Icon"></img>
        <div class="footer-text">
            <p>Members Only</p>
            <p>From The Odin Project</p>
        </div>
    </a>
    <div class="footer-links">
        <a href='https://github.com/daltonoswald/club-house' class="footer-github">
            <img class="icon" src="/images/github-original.svg" alt="github icon" />
        </a>
        <a href='https://linkedin.com/in/dalton-oswald-8aa955148' class="footer-linkedin">
            <img class="icon" src="/images/linkedin-plain.svg" alt="linkedin icon" />
        </a>
    </div>
</div>