<div class="nav">
  <div class="left">
    <a href="/" class="button">Home</a>
    <% if (typeof user !== 'undefined') { %>
      <a href="/new-message" class="button">New Message</a>
      <% if (!user.ismember) { %>
        <a href="/users/join-club" class="button">Join the Club</a>
      <% } %>
      <% if (user.ismember && !user.isadmin) { %>
        <a href="/users/become-admin" class="button">Become an Admin</a>
      <% } %>
      </div>
      <div class="right">
        <a href="/users/profile/<%=user.id %>"><p class="username"> <%= user.username %></p></a>
        <a href="/users/logout" class="button">Logout</a>
      </div>
    <% } else { %>
    </div>
      <div class="right">
      <a href="/users/log-in" class="button">Log in</a>
      <a href="/users/sign-up" class="button">Sign up</a>
    </div>
    <% } %>
    
  </div>